{{- $inner := . -}}
{{- if not $inner -}}{{- with site.GetPage "bricks/prices.md" -}}{{- $inner = .RawContent -}}{{- end -}}{{- end -}}
{{- $parts := split $inner "\n---" -}}
<section class="brick brick--blocks">
  <div class="wrap">
    <div class="section-head flow">{{ partial "md.html" (index $parts 0) | safeHTML }}</div>
    <ul class="blocks" role="list">
      {{- range after 1 $parts }}
      <li class="block flow">{{ partial "md.html" . | replaceRE `<a ` `<a class="button" ` | safeHTML }}</li>
      {{- end }}
    </ul>
  </div>
</section>
