{{- $inner := . -}}
{{- if not $inner -}}{{- with site.GetPage "bricks/features.md" -}}{{- $inner = .RawContent -}}{{- end -}}{{- end -}}
{{- $parts := split $inner "\n---" -}}
<section class="brick brick--features">
  <div class="wrap">
    <div class="section-head flow">
      {{ partial "md.html" (index $parts 0) | replaceRE `<(/?)h1` "<${1}h2" | safeHTML }}
    </div>
    <ul class="ledger" role="list">
      {{- range after 1 $parts }}
      {{- $s := partial "brick/split.html" . -}}
      {{- if strings.TrimSpace $s.body }}
      <li class="ledger__row flow">
        {{ partial "md.html" $s.body | replaceRE `<(/?)h[1-2]` "<${1}h3" | safeHTML }}
      </li>
      {{- end }}
      {{- end }}
    </ul>
  </div>
</section>
