{{- with . -}}
{{- $auto := dict "name" "name" "email" "email" "phone" "tel" "tel" "tel" -}}
<form class="form" method="POST" action="{{ .action }}" accept-charset="UTF-8">
  {{- range .fields -}}
    {{- $id := printf "f-%s" .name -}}
    {{- if eq .input_type "html" -}}
      <div class="form__title">{{ .label | replaceRE `<(/?)h[1-6]` "<${1}h2" | safeHTML }}</div>
    {{- else if eq .input_type "submit" -}}
      <div class="form__submit"><button class="button" type="submit">{{ .label }}</button></div>
    {{- else if eq .input_type "textarea" -}}
      <div class="field">
        <label for="{{ $id }}">{{ .label }}{{ if .required }} <span class="field__req">({{ i18n "form_required" }})</span>{{ end }}</label>
        <textarea name="{{ .name }}" id="{{ $id }}" rows="6"{{ if .required }} required{{ end }}></textarea>
      </div>
    {{- else if or (eq .input_type "radio") (eq .input_type "checkbox") -}}
      <div class="field field--check">
        <label><input type="{{ .input_type }}" name="{{ .name }}" value="{{ .label | plainify }}"{{ if .required }} required{{ end }}> <span>{{ .label | safeHTML }}</span></label>
      </div>
    {{- else -}}
      <div class="field">
        <label for="{{ $id }}">{{ .label | default .placeholder }}{{ if .required }} <span class="field__req">({{ i18n "form_required" }})</span>{{ end }}</label>
        <input type="{{ .input_type }}" name="{{ .name }}" id="{{ $id }}"{{ with index $auto .name }} autocomplete="{{ . }}"{{ end }}{{ if .required }} required{{ end }}>
      </div>
    {{- end -}}
  {{- end -}}
</form>
{{- end -}}
